#list{
  li{
    padding-left: 60px;
  }

}
.nav-item{
  padding-left: 25px;
}
#u {
  width: 100%;
  height: 100%;
  animation: u 1s infinite;
}
@keyframes u {
  10% {
    color: rgb(246, 59, 7);
  }
  30% {
    color: rgb(246, 226, 7);
  }
  60% {
    color: #32d30d;
  }
  100% {
    color: rgb(7, 246, 242);
  }
}
#r {
  width: 100%;
  height: 100%;
  animation: r 2s infinite;
}
@keyframes r {
  10% {
    color: rgb(179, 16, 249);
  }
  30% {
    color: #01ce7c;
  }
  60% {
    color: rgb(194, 246, 7);
  }
  100% {
    color: rgb(246, 59, 7);
  }
}
#s{
  width: 100%;
  height: 100%;
  animation: s 3s infinite;
}
@keyframes s {
  10% {
    color: rgb(9, 83, 243);
  }
  30% {
    color: #f40f95dc;
  }
  60% {
    color: rgb(236, 236, 9);
  }
  100% {
    color: rgb(130, 7, 246);
  }
}
