<nav class="navbar navbar-expand-lg bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#"
      ><b style="font-size: 30px"
        ><span style="color: rgb(150, 230, 176)" id="u">U</span>
        <span style="color: rgb(100, 189, 131)" id="r">R</span>
        <span style="color: rgb(54, 236, 118)" id="s">S</span></b
      ></a
    >
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item" id="list">
          <a class="nav-link active" aria-current="page" >Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link">Websites</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" >Advance</a>
        </li>

      </ul>

    </div>
  </div>
</nav>
