<!-- <button
  mat-icon-button
  aria-label="a"
  (click)="openSidenav()"
  style="border: none; background-color: transparent"
>
  <mat-icon style="border: none">more_vert</mat-icon>
</button> -->
<mat-drawer-container class="example-container" autosize >
  <button type="button" mat-button (click)="drawer.toggle()">
    <mat-icon>more_vert</mat-icon>
  </button>
  <div class="example-sidenav-content"></div>
  <mat-drawer #drawer class="example-sidenav" mode="over" position="start" >
    <p >Auto-resizing sidenav</p>
  </mat-drawer>
</mat-drawer-container>
